## Importation des packages nécessairtes

In [9]:
import pandas as pd
import numpy as np
import os
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas

In [7]:
df = pd.read_excel("/content/odoo-op2a-final.xlsx")

## Remplir les colonnes dont nous avons pas d'information par np.nan

In [11]:
df['customer_name'] = np.nan

In [13]:
df['site_type'] = np.nan

In [14]:
df['shape_type'] = np.nan

In [15]:
df['site_owner'] = np.nan

## Renommer les colonnes conformémemnt aux intitulées présentes sur l'application omniscient

In [16]:
A = ['customer_name', 'CI_odoo', 'Nom affiché', 'site_type', 'shape_type', 'site_owner', 'Adresse complète', 'lon_api', 'lat_api']

In [17]:
df = df[A]

In [19]:
df['radius'] = np.nan

<ipython-input-19-79f21f06433f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['radius'] = np.nan

In [28]:
df.columns = ['CUSTOMER_NAME', 'SITE_ID', 'SITE_NAME', 'SITE_TYPE', 'SHAPE_TYPE', 'SITE_OWNER', 'ADDRESS', 'SHAPE_LON', 'SHAPE_LAT', 'RADIUS']

In [29]:
df

,CUSTOMER_NAME,SITE_ID,SITE_NAME,SITE_TYPE,SHAPE_TYPE,SITE_OWNER,ADDRESS,SHAPE_LON,SHAPE_LAT,RADIUS
0,NaN,EXTX.931770,(931770) EXTX - 936410 SPIE SNCF GARE SEVRAN ...,NaN,NaN,NaN,936410 SPIE SNCF GARE SEVRAN LIVRY\nRUE ESTIE...,2.534834,48.936061,NaN
1,NaN,570X.VS2104,(VS2104) 570X - A10 - VIADUC DE L'INDRE - MODI...,NaN,NaN,NaN,A10 - VIADUC DE L'INDRE - MODIFICATION\n135 ru...,0.657752,47.293079,NaN
2,NaN,570X.VL1902,(VL1902) 570X - A10 TOURS - COMPTE DE PASSAGE,NaN,NaN,NaN,A10 TOURS - COMPTE DE PASSAGE\nCHEMIN LE PETIT...,0.672344,47.261719,NaN
3,NaN,570X.VL1903,(VL1903) 570X - A11 - CONNERRE - ECHANGEUR,NaN,NaN,NaN,A11 - CONNERRE - ECHANGEUR\nLIEU DIT LES MORTI...,0.510527,48.090065,NaN
4,NaN,570X.TE2101,(TE2101) 570X - A11 NANTES PORTE GESVRES - BIS...,NaN,NaN,NaN,A11 NANTES PORTE GESVRES - BIS BYTP RF\nrue Ad...,-1.563787,47.266703,NaN
...,...,...,...,...,...,...,...,...,...,...
1174,NaN,570X.ES1903,(ES1903) 570X - WITTELSHEIM - MDPA,NaN,NaN,NaN,WITTELSHEIM - MDPA\nAVENUE JOSEPH ELSE\n\n6831...,7.231214,47.778487,NaN
1175,NaN,I77X.B01110,"(B01110) I77X - WORNINGTON GREEN, LDN KENSINGT...",NaN,NaN,NaN,"WORNINGTON GREEN, LDN KENSINGTON&CHELSEA\nWorn...",-0.211870,51.523696,NaN
1176,NaN,G06X.196100,(196100) G06X - XXL MARSEILLE,NaN,NaN,NaN,XXL MARSEILLE\n77 RUE DE LYON\n\n13015 MARSEIL...,5.365904,43.326446,NaN
1177,NaN,570X.SE2006,(SE2006) 570X - YSSINGEAUX - TOARCH LOT 1,NaN,NaN,NaN,YSSINGEAUX - TOARCH LOT 1\nRN88\n\n43200 Yssin...,4.123734,45.142667,NaN
1178,NaN,Q80X.800300,(800300) Q80X - ZEPHYR_PROJET EVREUX BA 105,NaN,NaN,NaN,ZEPHYR_PROJET EVREUX BA 105\n5 chemin du Coudr...,1.194756,49.016557,NaN

## Passerelle (bridge between python and snowflake)

In [30]:
conn = snowflake.connector.connect(
    user='hichax23',
    password='Hellohello+',
    account='jiqfczt-ql79208',  # Adjusted account detail
    database='ODOO_OP2A',
    schema='GEOLOC',
    warehouse = 'COMPUTE_WH',
    role = 'ACCOUNTADMIN'
)

## Remplir la bse de données crée sur snowflake par les données de l dataframe de python

In [31]:
write_pandas(conn,
             df,
             table_name= 'CHANTIERS' )

(True,
 1,
 1179,
 [('kpwixctluf/file0.txt',
   'LOADED',
   1179,
   1179,
   1,
   0,
   None,
   None,
   None,
   None)])